:host {
  display: grid;
  grid-template-rows: 50px 60px 1fr;
  height: 100%;
}

.grid {
  position: relative;
}

.toolbar {
  padding: 0 12px;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 320px;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

header {
  padding: 12px;
  margin: 0;
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  align-items: center;
}

.greedy {
  flex-grow: 1;
}

img.npm {
  width: 30px;
  height: 30px;
  padding-right: 2px;
}

img.github {
  width: 20px;
  height: 20px;
  padding-right: 2px;
}
